<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>分享职位</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/icons.css">
    <link rel="stylesheet" href="/stylesheets/s-position.css">
</head>
<body>
    <div class="wrapper">
        <div class="header-wrapper">
            <div class="header-profile">
                <div class="profile-wrapper">
                    <img src=<%=recruiterInfo.avatar.smallUrl %> alt="">
                </div>
                <div>
                    <div class="header-name"><%= recruiterInfo.name %> | <%= recruiterInfo.position %> </div>
                    <% if(recruiterInfo.oneSentenceIntro) { %>
                        <div class="header-desc"><%= recruiterInfo.oneSentenceIntro %></div>
                    <% } %>
                </div>
            </div>
            <div class="header-line"><span>在猎多多招聘</span></div>
            <div class="position-name"><%= positionName %></div>
            <div class="position-treatment"><%= emolumentMin %>k~<%= emolumentMax %>k
                <% if(annualSalary > 12) { %>
                    ·<%= annualSalary %>薪
                <% } %>
            </div>
            <div class="position-desc">
                <span><i class="icon icon-address-white"></i><%= positionName %></span>
                <span><i class="icon icon-experience-white"></i><%=  workExperienceName %></span>
                <span><i class="icon icon-degree-white"></i><%=  educationName  %></span>
            </div>
            <div class="position-labels">
                <% for(var i=0; i< lightspotInfo.length; i++) { %>
                    <span class="tag-label-radius"><%= lightspotInfo[i] %></span>
                <% } %>
            </div>
        </div>
        <div class="company">
            <div class="compang-wrapper">
                <div class="company-logo">
                    <img src=<%=companyInfo.logoInfo.smallUrl %> alt="">
                </div>
                <div class="company-details">
                    <div class="ellipsis"><%=companyInfo.companyShortname %></div>
                    <div class="ellipsis"><%=companyInfo.industry %> · <%=companyInfo.financingInfo %> · <%=companyInfo.employeesInfo %>人</div>
                </div>
            </div>
        </div>
        <div class="position">
            <!-- global image -->
            <div class="wrapper-image icon-image icon-global"></div>
            <!-- global image -->
            <div class="wrapper-image icon-image icon-robot"></div>
            <div class="position-wrapper">
                <div class="position-wrapper-title">- 职位描述 -</div>
                <div class="position-wrapper-labels">
                    <% for(var i=0; i< skillsLabel.length; i++) { %>
                        <span class="tag-label"># <%= skillsLabel[i].name %></span>
                    <% } %>
                </div>
                <div class="position-wrapper-desc"><div><%= describe %></div></div>
                <div class="desc-more">长按识别查看完整职位详情</div>
            </div>
        </div>
        <div class="position-footer">
            <div class="position-qrcode">
                <img src=<%= qrCode %> alt="">
            </div>
            <div class="footer-text">
                <div>长按打开小程序与Ta约面吧！</div>
                <div>Ta还有<%= recruiterInfo.positionNum %>个职位在招</div>
            </div>
        </div>
    </div>
    <div class="wrapper-image wrapper-header-image"><img src="/images/position/bg_position1.png" alt=""></div>
    <div class="wrapper-image wrapper-footer-image"><img src="/images/position/bg_position2.png" alt=""></div>
</body>
<script>
(function(){
    var calc = function(){
        var docElement = document.documentElement;
        var clientWidthValue = docElement.clientWidth > 750 ? 750 : docElement.clientWidth;
        docElement.style.fontSize = 100*(clientWidthValue/750) + 'px';
    }
    calc();
    window.addEventListener('resize', calc);
})();

window.onload = function () {
    var descWrapper = document.querySelector('.position-wrapper-desc').getBoundingClientRect()
    var descWrapperInner = document.querySelector('.position-wrapper-desc div').getBoundingClientRect()
    var descMore = document.querySelector('.desc-more')
    if(descWrapper.height < descWrapperInner.height) {
        descMore.classList.add('show')
    }
}
</script>
</html>