<!DOCTYPE html>
 <html  lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>追逐梦想的青年</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/s-youngBeast-activict.css">
  </head>
  <body>
    <div class="youngBeast-activict">
      <img class="img" src=<%=img %>>
      <div class="main">
        <p class="text">
        我是<span><%=name %></span> 
        我是<span><%=sex %></span>青年</br>
        我可以<%=desc1 %></br>
        也可以<%=desc2 %></br>
        还可以<%=desc3 %></br>
        2020 我想<%=desc4 %></p>
      </div>
    </div>
    <script src="" async defer>
      (function(){
        var calc = function(){
            var docElement = document.documentElement;
            var clientWidthValue = docElement.clientWidth > 750 ? 750 : docElement.clientWidth;
            docElement.style.fontSize = 100*(clientWidthValue/750) + 'px';
        }
        calc();
        window.addEventListener('resize', calc);
      })();
    </script>
  </body>
</html>